// Improve quote formatting.
.article-content {
    blockquote:before {
        content: "”";
        opacity: 50%;
        font-family: serif;
        font-size: 4em;
        margin-top: -0.4em;
        display: block;
        margin-bottom: -1.0em;
    }

    blockquote {
        position: relative;
        font-weight: 600;
        font-size: 1.2em;
    }
}

// Format featured image caption
.article-image {
    figure {
        margin: 0;
    }

    figcaption {
        font-size: 1.4rem;
        color: var(--card-text-color-secondary);
        padding: 5px;
        text-align: center;
    }
}
